[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
python-dotenv = "*"
requests = "*"
psycopg2 = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-migrate = "*"
flask-restful = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.8"
