.custom-app-bar {
  width: 100%;
  text-align: center;
}

.custom-app-bar .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  justify-content: left;
}

.custom-app-bar .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.custom-app-bar .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.map-container {
  margin: 20px;
  height: 400px;
  width: 400px;
}