.map-container {
  margin: 20px;
  height: 400px;
  width: 400px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Vertically center content */
  align-items: center;
  /* Horizontally center content */
  min-height: 100vh;
}

.titleContainer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  /* Add some spacing between title and content */
}

.contentContainer {
  font-size: 18px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  /* Just for visualization, you can change this */
}

.delete-button {
  background-color: rgb(86, 123, 84);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.titleContainer {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.contentContainer {
  max-width: 800px;
  text-align: justify;
  line-height: 1.5;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

.startButton {
  background-color: #53917E;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s;
  margin-left: 350px;
}

.startButton:hover {
  background-color: #447164;
}